# Secretos y variables de entorno
.env
.env.local
.env.development
.env.production

# Dependencias (son pesadas y no se suben)
node_modules/
client/node_modules/
server/node_modules/

# Archivos de Base de Datos (Para que no se suba tu respaldo .sql)
*.sql

# Archivos de compilación
dist/
build/

# Logs y Sistema
npm-debug.log*
.DS_Store

# Archivos del sistema
.DS_Store
Thumbs.db